.project-container {
    margin-top: 10vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10vh;
}

.projects {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 3rem 2rem;
    width: 100%;
}


@media (max-width: 1200px) {
    .project-container {
        margin-left: 0%;
        margin-right: 0%;
    }

    .projects {
        grid-template-columns: 1fr;
        justify-items: center;
    }

}

@media (max-width: 768px) {
    .project-container {
        margin-left: 1%;
        margin-right: 1%;
    }

    .projects {
        grid-template-columns: 1fr; 
        justify-items: center;
    }
}
