.project-card-container {
    border: 1px solid var(--lightblue);
    border-radius: 18px;
    padding: 100px;
    width: 36vw;
    height: 30vh;
    background-color: var(--babyblue);
}

.title {
    text-align: left;
    margin-top: 14px;
    margin-left: 8px;
    font-size: 18px;
    color: var(--darkgrey);
    font-weight:500px;
}

@media (max-width: 1200px) {
    .project-card-container {
        width: 80vw;
        height: 28vh;
    }
}