.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 20px;
    z-index: 2;
    margin: 0 2%;
}


.menu {
    display: flex;
}

.menu-items {
    display: flex;
    gap: 5px;
    list-style: none;
}

.menu-items a {
    color: var(--darkgrey);
    font-weight: 300;
    font-size: 18px;
    padding: 24px 24px;
    text-underline-offset: 3px; 
}

.menu-btn {
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
    display: none;
}

